.inftnc_fb_share_link {
    background-color: #316FF6;
    padding: 20px 30px;
    display: inline-block;
}
.inftnc_fb_text  {
    color: #ffffff;
}
.inftnc_social_icon.et-pb-icon  {
    font-size: 16px;
    color:#ffffff;
}

