.inftnc_fb_share_link {
    background-color: #316FF6;
    padding: 20px 30px;
    display: inline-block;
}
.inftnc_fb_text  {
    color: #ffffff;
}
.inftnc_fb_share_link .inftnc_social_icon {
    font-size: 16px;
    color:#ffffff;
}

.inftnc_social_share_button .et_pb_module_inner {
        display: inline-block !important;
} 

.inftnc_social_share_button  {
    display: inline-block !important;
}

.inftnc_share_button {
    display: inline-grid;
}

.inftnc_social_icon.et-pb-fa-icon {
    font-family: FontAwesome !important;
    font-weight: 400 !important;
    font-size: 16px;
}
