.slick-inftnc-arrow.slick-prev:before {
    font-family: ETmodules!important;
    font-weight: 400!important;
    content: attr(data-icon) !important;
    font-size: 30px;
    display: inline-block !important;
    color: #7a7070 !important;
}

.slick-inftnc-arrow.slick-next:before {
    font-family: ETmodules!important;
    font-weight: 400!important;
    content: attr(data-icon) !important;
    font-size: 30px;
    display: inline-block !important;
    color: #7a7070 !important;
}

.slick-inftnc-arrow {
    background-color: #d9d9d9 !important;
    width: 35px !important;
    height: 35px !important;
    vertical-align: middle !important;
    z-index: 9999 !important;
    border-radius: 5px;
}

.inftnc_carousels_logo_wrapper .slick-dots li button:before { 
     font-size:40px !important;
}




 

