
.inftnc_btn {
    display: inline-block;
}

.inftnc_button_wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction:row;
}

.et_pb_button[data-icon]:not([data-icon=""]):after {
    content: attr(data-icon);
}

