.inftnc_carousels_image_wrapper {
    padding: 0 40px;
    position: relative;
}

.inftnc_carousels_image_wrapper .slick-slide {
    padding-left: var(--inftnc-slide-gap, 0px);
}

.inftnc_carousels_image_wrapper .slick-list {
    margin-left: calc(-1 * var(--inftnc-slide-gap, 0px));
}

.slick-inftnc-arrow {
    background-color: #d9d9d9 !important;
    width: 35px !important;
    height: 35px !important;
    vertical-align: middle !important;
    z-index: 9999 !important;
    border-radius: 5px;
}

.slick-inftnc-arrow.slick-prev {
    left: 0 !important;
}

.slick-inftnc-arrow.slick-next {
    right: 0 !important;
}

.slick-inftnc-arrow.slick-prev:before,
.slick-inftnc-arrow.slick-next:before {
    font-family: ETmodules !important;
    font-weight: 400 !important;
    content: attr(data-icon) !important;
    font-size: 20px;
    display: inline-block !important;
    color: #7a7070 !important;
    opacity: 1;
}

.inftnc_carousel_child {
    overflow: hidden;
}

.inftnc_carousels_image_wrapper .slick-dots {
    bottom: -40px !important;
}

.inftnc_carousels_image_wrapper .slick-dots li button:before {
    font-size: 10px;
}

[dir='rtl'] .slick-inftnc-arrow.slick-next {
    right: auto !important;
    left: 0 !important;
}
